@model IEnumerable<SP3072118MVCDB.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}
<h1>@ViewData["Title"]</h1>

@if (Model.Count() == 0)
{
    <p>Nenhum cliente cadastrado.</p>    
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>RG</th>
                <th>CPF</th>
                <th>Endereco</th>
                <th></th>
            </tr>
            <tbody>
                @foreach(var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.Nome</td>
                        <td>@cliente.RG</td>
                        <td>@cliente.CPF</td>
                        <td>@cliente.Endereco</td>
                        <td>
                            <a href="/Cliente/Show/@cliente.Id">Ver</a>
                        </td>
                    </tr>
                }
            </tbody>
        </thead>
    </table>
}